@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

/*============================ Стили шрифтов ============================*/
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 960px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ===============================HEADER============================== */
/* ===============================HEADER============================== */
.header {
  background-color: #ffffff;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 137px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner-logo {
  margin-right: 33px;
}
.header__inner-txt {
  margin-right: 132px;
}
.header__inner-content {
  margin-right: 40px;
}
.header__txt {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}
.header__content-number {
  font-family: "Arial";
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #0093dd;
  margin-bottom: 8px;
}
.header__content-clock {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  padding-left: 7px;
}
.header__btn {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(20, 169, 244);
  background-color: rgb(20, 169, 244);
  width: 205px;
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__btn-img {
  margin-right: 8px;
}
.header__btn-txt {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  color: #ffffff;
}

/* ===============================SALE============================== */
/* ===============================SALE============================== */
.sale {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 147, 221, 0.6))), 0px 0px/cover no-repeat url("/images/head_background.png");
  background: -o-linear-gradient(bottom, rgba(0, 147, 221, 0.6)), 0px 0px/cover no-repeat url("/images/head_background.png");
  background: linear-gradient(to top, rgba(0, 147, 221, 0.6)), 0px 0px/cover no-repeat url("/images/head_background.png");
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0% 0%, 100% 0, 100% 85%, 0 100%);
}
.sale__inner {
  padding-bottom: 150px;
}
.sale__inner-title {
  position: relative;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sale__inner-meta {
  font-family: "Arial";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  padding-left: 43px;
  padding-top: 50px;
  padding-bottom: 70px;
  padding: 50px 0 70px 43px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sale__inner-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 75px;
}
.sale__inner-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Arial";
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sale__title {
  font-family: "Arial";
  font-size: 48px;
  font-weight: 900;
  line-height: 64px;
  color: #ffffff;
  width: 590px;
}
.sale__title-img {
  position: absolute;
  right: -40px;
}
.sale__meta {
  position: relative;
}
.sale__meta::before {
  content: url("/images/icons/check.png");
  position: absolute;
  left: -40px;
}
.sale__more {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sale__more-img {
  position: absolute;
}
.sale__more-txt {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 700;
  line-height: auto;
  color: #333333;
  color: #ffffff;
  width: 215px;
  padding: 15px 0 0 0px;
  text-align: right;
}
.sale__more-title {
  font-family: "Arial";
  font-size: 28px;
  font-weight: 700;
  line-height: auto;
  color: #0093dd;
  color: #fff000;
  padding: 22px 0 0 30px;
}
.sale__more-btn {
  margin-left: 100px;
}
.sale__btn {
  border-style: solid;
  border-width: 1px;
  border-color: #fff000;
  background-color: #fff000;
  width: 268px;
  height: 69px;
}
.sale__btn p {
  font-family: "Arial";
  font-size: 18.6px;
  font-weight: 700;
  line-height: auto;
  color: #ffffff;
  color: #010101;
}
.sale__txt {
  margin-right: 31px;
}