@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

/*============================ Стили шрифтов ============================*/
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 960px;
  padding: 0 15px;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(119, 119, 119, 0.3);
  z-index: 101;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.overlay--show {
  visibility: visible;
  opacity: 1;
}

.popup.active {
  visibility: visible;
  opacity: 1;
}
.popup__close {
  position: absolute;
}
.popup__close-line {
  position: absolute;
  height: 35px;
  width: 4px;
  background: #1a1a1a;
  border-radius: 2.5px;
}
.popup__close-line:first-child {
  rotate: -45deg;
  top: -17px;
  left: 23px;
}
.popup__close-line:last-child {
  rotate: 45deg;
  top: -17px;
  left: 23px;
}
.popup__inner {
  padding: 85px 85px 85px 81px;
  background-color: #010201;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.popup__inner-close {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 30px;
  top: 30px;
  border-radius: 17px;
  -webkit-box-shadow: inset 2px -2px 12px 0px rgba(56, 56, 56, 0.36);
          box-shadow: inset 2px -2px 12px 0px rgba(56, 56, 56, 0.36);
  -webkit-box-shadow: 0px 0px 0px 10px rgba(138, 138, 138, 0.25);
          box-shadow: 0px 0px 0px 10px rgba(138, 138, 138, 0.25);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.popup__inner-close:hover {
  border-radius: 27px;
  -webkit-box-shadow: 0px 0px 0px 10px rgba(15, 10, 10, 0.25);
          box-shadow: 0px 0px 0px 10px rgba(15, 10, 10, 0.25);
  background-color: #fff000;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.popup__inner-text {
  max-width: 480px;
}
.popup__inner-form {
  max-width: 526px;
  padding-top: 15px;
}
.popup__text-title {
  font-family: "Arial";
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #0093dd;
  color: #333333;
  padding-bottom: 15px;
}
.popup__text-top {
  font-family: "Arial";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #0093dd;
  color: #333333;
}
.popup__form-input {
  width: 525px;
  height: 60px;
  border: 1px solid #FFFFFF;
  padding: 23px;
  margin-bottom: 12px;
  background-color: #010201;
  color: #ffffff;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.popup__form-input::-webkit-input-placeholder {
  color: #FFFFFF;
}
.popup__form-input::-moz-placeholder {
  color: #FFFFFF;
}
.popup__form-input:-ms-input-placeholder {
  color: #FFFFFF;
}
.popup__form-input::-ms-input-placeholder {
  color: #FFFFFF;
}
.popup__form-input::placeholder {
  color: #FFFFFF;
}
.popup__form-input:focus {
  border: 1px solid #FFDD00;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  border-radius: 15px;
}
.popup__btn {
  background-color: #0093dd;
  width: 525px;
  height: 60px;
  -webkit-transition: ease 0.6s;
  -o-transition: ease 0.6s;
  transition: ease 0.6s;
  font-family: "Arial";
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  color: #ffffff;
  color: #333333;
}
.popup__btn:hover {
  background-color: #333333;
  border-radius: 15px;
  -webkit-transition: ease 0.6s;
  -o-transition: ease 0.6s;
  transition: ease 0.6s;
}
.popup__btn:hover {
  color: #ffffff;
}

/* ===============================HEADER============================== */
/* ===============================HEADER============================== */
.header {
  background-color: #ffffff;
}
.header__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(214, 214, 214, 0.55);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 200;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.header__popup-inner {
  padding: 148px 0px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
  z-index: 500;
}
.header__popup-close {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 30px;
  top: 30px;
  border-radius: 17px;
  -webkit-box-shadow: inset 2px -2px 12px 0px rgba(56, 56, 56, 0.36);
          box-shadow: inset 2px -2px 12px 0px rgba(56, 56, 56, 0.36);
  -webkit-box-shadow: 0px 0px 0px 10px rgba(138, 138, 138, 0.25);
          box-shadow: 0px 0px 0px 10px rgba(138, 138, 138, 0.25);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.header__popup-close:hover {
  border-radius: 27px;
  -webkit-box-shadow: 0px 0px 0px 10px rgba(15, 10, 10, 0.25);
          box-shadow: 0px 0px 0px 10px rgba(15, 10, 10, 0.25);
  background-color: #fff000;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.header__popup.active {
  visibility: visible;
  opacity: 1;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 137px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner-logo {
  margin-right: 33px;
}
.header__inner-txt {
  margin-right: 132px;
}
.header__inner-content {
  margin-right: 40px;
}
.header__txt {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}
.header__content-number {
  font-family: "Arial";
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #0093dd;
  margin-bottom: 8px;
}
.header__content-clock {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  padding-left: 7px;
}
.header__btn {
  background-color: #0093dd;
  width: 205px;
  height: 53px;
  -webkit-transition: ease 0.6s;
  -o-transition: ease 0.6s;
  transition: ease 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__btn:hover {
  background-color: #333333;
  border-radius: 15px;
  -webkit-transition: ease 0.6s;
  -o-transition: ease 0.6s;
  transition: ease 0.6s;
}
.header__btn-img {
  margin-right: 8px;
}
.header__btn-txt {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  color: #ffffff;
}

/* ===============================SALE============================== */
/* ===============================SALE============================== */
.sale {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 147, 221, 0.6))), 0px 0px/cover no-repeat url("../images/head_background.png");
  background: -o-linear-gradient(bottom, rgba(0, 147, 221, 0.6)), 0px 0px/cover no-repeat url("../images/head_background.png");
  background: linear-gradient(to top, rgba(0, 147, 221, 0.6)), 0px 0px/cover no-repeat url("../images/head_background.png");
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0% 0%, 100% 0, 100% 85%, 0 100%);
}
.sale__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(214, 214, 214, 0.55);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  visibility: hidden;
  z-index: 500;
  opacity: 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.sale__popup.active {
  visibility: visible;
  opacity: 1;
}
.sale__popup-inner {
  padding: 148px 0px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
  z-index: 500;
}
.sale__inner {
  padding-bottom: 150px;
}
.sale__inner-title {
  position: relative;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sale__inner-meta {
  font-family: "Arial";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  padding-left: 43px;
  padding-top: 50px;
  padding-bottom: 70px;
  padding: 50px 0 70px 43px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sale__inner-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 75px;
}
.sale__inner-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Arial";
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sale__title {
  font-family: "Arial";
  font-size: 48px;
  font-weight: 900;
  line-height: 64px;
  color: #ffffff;
  width: 590px;
}
.sale__title-img {
  position: absolute;
  right: -40px;
}
.sale__meta {
  position: relative;
}
.sale__meta::before {
  content: url("../images/icons/check.png");
  position: absolute;
  left: -40px;
}
.sale__more {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sale__more-img {
  position: absolute;
}
.sale__more-txt {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 700;
  line-height: auto;
  color: #333333;
  color: #ffffff;
  width: 215px;
  padding: 15px 0 0 0px;
  text-align: right;
}
.sale__more-title {
  font-family: "Arial";
  font-size: 28px;
  font-weight: 700;
  line-height: auto;
  color: #0093dd;
  color: #fff000;
  padding: 22px 0 0 30px;
}
.sale__more-btn {
  margin-left: 100px;
}
.sale__btn {
  background-color: #fff000;
  width: 268px;
  height: 69px;
  font-family: "Arial";
  font-size: 19px;
  font-weight: 700;
  line-height: 19px;
  color: #333333;
  -webkit-transition: ease 1s;
  -o-transition: ease 1s;
  transition: ease 1s;
}
.sale__btn:hover {
  background-color: #333333;
  color: #ffffff;
  border-radius: 15px;
  -webkit-transition: ease 1s;
  -o-transition: ease 1s;
  transition: ease 1s;
}
.sale__txt {
  margin-right: 31px;
}

/* ===============================BLOCKS============================== */
/* ===============================BLOCKS============================== */
.blocks__popup1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(214, 214, 214, 0.55);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 200;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.blocks__popup1-inner {
  padding: 148px 0px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
  z-index: 500;
}
.blocks__popup1-close {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 30px;
  top: 30px;
  border-radius: 17px;
  -webkit-box-shadow: inset 2px -2px 12px 0px rgba(56, 56, 56, 0.36);
          box-shadow: inset 2px -2px 12px 0px rgba(56, 56, 56, 0.36);
  -webkit-box-shadow: 0px 0px 0px 10px rgba(138, 138, 138, 0.25);
          box-shadow: 0px 0px 0px 10px rgba(138, 138, 138, 0.25);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.blocks__popup1-close:hover {
  border-radius: 27px;
  -webkit-box-shadow: 0px 0px 0px 10px rgba(15, 10, 10, 0.25);
          box-shadow: 0px 0px 0px 10px rgba(15, 10, 10, 0.25);
  background-color: #fff000;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.blocks__popup1.active {
  visibility: visible;
  opacity: 1;
}
.blocks__popup2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(214, 214, 214, 0.55);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 200;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.blocks__popup2-inner {
  padding: 148px 0px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
  z-index: 500;
}
.blocks__popup2-close {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 30px;
  top: 30px;
  border-radius: 17px;
  -webkit-box-shadow: inset 2px -2px 12px 0px rgba(56, 56, 56, 0.36);
          box-shadow: inset 2px -2px 12px 0px rgba(56, 56, 56, 0.36);
  -webkit-box-shadow: 0px 0px 0px 10px rgba(138, 138, 138, 0.25);
          box-shadow: 0px 0px 0px 10px rgba(138, 138, 138, 0.25);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.blocks__popup2-close:hover {
  border-radius: 27px;
  -webkit-box-shadow: 0px 0px 0px 10px rgba(15, 10, 10, 0.25);
          box-shadow: 0px 0px 0px 10px rgba(15, 10, 10, 0.25);
  background-color: #fff000;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.blocks__popup2.active {
  visibility: visible;
  opacity: 1;
}
.blocks__popup3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(214, 214, 214, 0.55);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 200;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.blocks__popup3-inner {
  padding: 148px 0px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
  z-index: 500;
}
.blocks__popup3-close {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 30px;
  top: 30px;
  border-radius: 17px;
  -webkit-box-shadow: inset 2px -2px 12px 0px rgba(56, 56, 56, 0.36);
          box-shadow: inset 2px -2px 12px 0px rgba(56, 56, 56, 0.36);
  -webkit-box-shadow: 0px 0px 0px 10px rgba(138, 138, 138, 0.25);
          box-shadow: 0px 0px 0px 10px rgba(138, 138, 138, 0.25);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.blocks__popup3-close:hover {
  border-radius: 27px;
  -webkit-box-shadow: 0px 0px 0px 10px rgba(15, 10, 10, 0.25);
          box-shadow: 0px 0px 0px 10px rgba(15, 10, 10, 0.25);
  background-color: #fff000;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.blocks__popup3.active {
  visibility: visible;
  opacity: 1;
}
.blocks__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 80px;
}
.blocks__inner-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blocks__inner-item:nth-child(1)::after {
  content: url(/images/vertical_line.png);
  position: absolute;
  right: -10px;
}
.blocks__inner-item:nth-child(2)::after {
  content: url(/images/vertical_line.png);
  position: absolute;
  right: -10px;
}
.blocks__inner-title {
  font-family: "Arial";
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #0093dd;
  position: relative;
  color: #333333;
  padding-bottom: 95px;
}
.blocks__inner-img {
  position: relative;
  margin-bottom: 15px;
}
.blocks__inner-img::before {
  content: url("/images/yellow_line.png");
  position: absolute;
  top: -90px;
  left: 58px;
}
.blocks__inner-img img {
  width: 297px;
  height: 198px;
}
.blocks__btn {
  background-color: #0093dd;
  width: 205px;
  height: 53px;
  -webkit-transition: ease 0.6s;
  -o-transition: ease 0.6s;
  transition: ease 0.6s;
}
.blocks__btn:hover {
  background-color: #333333;
  border-radius: 15px;
  -webkit-transition: ease 0.6s;
  -o-transition: ease 0.6s;
  transition: ease 0.6s;
}
.blocks__btn p {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  color: #ffffff;
}

/* ===============================SIZE============================== */
/* ===============================SIZE============================== */
.size {
  -webkit-clip-path: polygon(0% 0%, 100% 12.5%, 100% 87.5%, 0 100%);
          clip-path: polygon(0% 0%, 100% 12.5%, 100% 87.5%, 0 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(224, 224, 224, 0.7))), 0px 0px/cover no-repeat url("/images/size_background.png");
  background: -o-linear-gradient(bottom, rgba(224, 224, 224, 0.7)), 0px 0px/cover no-repeat url("/images/size_background.png");
  background: linear-gradient(to top, rgba(224, 224, 224, 0.7)), 0px 0px/cover no-repeat url("/images/size_background.png");
}
.size__inner {
  padding-bottom: 130px;
}
.size__inner-title {
  font-family: "Arial";
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #0093dd;
  position: relative;
  color: #000000;
  padding-top: 95px;
  padding-bottom: 70px;
  padding-left: 30px;
}
.size__inner-title::before {
  content: url("/images/bracket.png");
  position: absolute;
  bottom: 45px;
  left: 0px;
}
.size table {
  font-family: "Arial";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  color: #000000;
  width: 960px;
  border-collapse: collapse;
}
.size table thead {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  color: #ffffff;
  background-color: #0093dd;
}
.size table thead tr th {
  padding: 10px;
}
.size table tbody {
  text-align: center;
}
.size table tbody tr td {
  padding: 10px;
}
.size table tbody tr td:first-child {
  font-family: "Arial";
  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
  color: #ffffff;
  color: #000000;
}
.size table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

/* ===============================SERVICES============================== */
/* ===============================SERVICES============================== */
.services__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(214, 214, 214, 0.55);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 200;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.services__popup-inner {
  padding: 148px 0px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
  z-index: 500;
}
.services__popup-close {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 30px;
  top: 30px;
  border-radius: 17px;
  -webkit-box-shadow: inset 2px -2px 12px 0px rgba(56, 56, 56, 0.36);
          box-shadow: inset 2px -2px 12px 0px rgba(56, 56, 56, 0.36);
  -webkit-box-shadow: 0px 0px 0px 10px rgba(138, 138, 138, 0.25);
          box-shadow: 0px 0px 0px 10px rgba(138, 138, 138, 0.25);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.services__popup-close:hover {
  border-radius: 27px;
  -webkit-box-shadow: 0px 0px 0px 10px rgba(15, 10, 10, 0.25);
          box-shadow: 0px 0px 0px 10px rgba(15, 10, 10, 0.25);
  background-color: #fff000;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.services__popup.active {
  visibility: visible;
  opacity: 1;
}
.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
}
.services__delivery-title {
  font-family: "Arial";
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #0093dd;
  position: relative;
  color: #000000;
  padding-bottom: 100px;
  padding-right: 20px;
  text-align: right;
}
.services__delivery-title::after {
  content: url(/images/bracket.png);
  position: absolute;
  rotate: 180deg;
  top: -30px;
  right: -5px;
}
.services__delivery-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-bottom: 100px;
}
.services__delivery-content::after {
  content: url("/images/delivery-2.png");
  position: absolute;
  right: 280px;
  top: 100px;
  z-index: -50;
}
.services__delivery-txt {
  position: relative;
  width: 390px;
  height: 301px;
  background-color: #fff000;
  -webkit-clip-path: polygon(25% 0, 100% 0, 100% 20%, 100% 75%, 75% 100%, 0 100%, 0% 80%, 0 25%);
          clip-path: polygon(25% 0, 100% 0, 100% 20%, 100% 75%, 75% 100%, 0 100%, 0% 80%, 0 25%);
}
.services__delivery-txt::after {
  content: url(/images/delivery_car.png);
  position: absolute;
  top: -1px;
  left: 5px;
}
.services__delivery-img {
  position: absolute;
  top: -70px;
  right: -60px;
}
.services__delivery-img img {
  width: 501px;
  height: 401px;
}
.services__cont {
  padding-top: 120px;
  padding-left: 25px;
  width: 320px;
}
.services__unload-title {
  font-family: "Arial";
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #0093dd;
  position: relative;
  color: #000000;
  text-align: left;
  padding-bottom: 100px;
  padding-left: 28px;
}
.services__unload-title::before {
  content: url(/images/bracket.png);
  position: absolute;
  top: -22px;
  left: 1px;
}
.services__unload-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services__unload-img {
  padding-top: 10px;
}
.services__unload-txt {
  position: relative;
  width: 390px;
  height: 301px;
  background-color: #fff000;
  -webkit-clip-path: polygon(25% 0, 100% 0, 100% 20%, 100% 75%, 75% 100%, 0 100%, 0% 80%, 0 25%);
          clip-path: polygon(25% 0, 100% 0, 100% 20%, 100% 75%, 75% 100%, 0 100%, 0% 80%, 0 25%);
}
.services__unload-txt::before {
  content: url(/images/unloading_car.png);
  position: absolute;
  left: -28px;
}
.services__unload-btncont {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 60px;
  margin-top: -20px;
}
.services__unload-btn {
  background-color: #0093dd;
  width: 291px;
  height: 52px;
  -webkit-transition: ease 0.6s;
  -o-transition: ease 0.6s;
  transition: ease 0.6s;
}
.services__unload-btn:hover {
  background-color: #333333;
  border-radius: 15px;
  -webkit-transition: ease 0.6s;
  -o-transition: ease 0.6s;
  transition: ease 0.6s;
}
.services__unload-btn span {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  color: #ffffff;
  color: #ffffff;
}
.services__subtitle {
  font-family: "Arial";
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  color: #0093dd;
  color: #000000;
  margin-bottom: 22px;
}
.services__txt {
  font-family: "Arial";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #333333;
  color: #000000;
  margin-bottom: 18px;
}
.services__subtxt {
  font-family: "Arial";
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #333333;
  color: #000000;
}

/* ===============================TECH============================== */
/* ===============================TECH============================== */
.tech {
  background-color: #ededed;
  -webkit-clip-path: polygon(0% 0%, 100% 12.5%, 100% 87.5%, 0 100%);
          clip-path: polygon(0% 0%, 100% 12.5%, 100% 87.5%, 0 100%);
}
.tech__inner {
  padding-top: 100px;
  padding-bottom: 128px;
}
.tech__inner-title {
  font-family: "Arial";
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #0093dd;
  position: relative;
  color: #000000;
  padding-left: 27px;
  padding-bottom: 85px;
}
.tech__inner-title::before {
  content: url(/images/bracket.png);
  position: absolute;
  top: -23px;
  left: 0px;
}
.tech__inner table {
  width: 960px;
  border-collapse: collapse;
  text-align: left;
}
.tech__inner table thead {
  font-family: "Arial";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #ffffff;
  color: #333333;
  background-color: #ededed;
}
.tech__inner table thead th {
  padding: 10px;
}
.tech__inner table tbody {
  font-family: "Arial";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #333333;
  color: #000000;
}
.tech__inner table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
.tech__inner table tbody td {
  padding: 10px;
}

/* ===============================CHOICE============================== */
/* ===============================CHOICE============================== */
.choice {
  position: relative;
  margin-top: -100px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 147, 221, 0.6))), 0px 0px/cover no-repeat url("../images/choice_background.png");
  background: -o-linear-gradient(bottom, rgba(0, 147, 221, 0.6)), 0px 0px/cover no-repeat url("../images/choice_background.png");
  background: linear-gradient(to top, rgba(0, 147, 221, 0.6)), 0px 0px/cover no-repeat url("../images/choice_background.png");
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
  z-index: -100;
}
.choice__inner-title {
  font-family: "Arial";
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #0093dd;
  padding-top: 160px;
  padding-bottom: 100px;
  color: #ffffff;
  padding-left: 15px;
}
.choice__inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.choice__item-img {
  margin-bottom: 30px;
  width: 131px;
  height: 127px;
  background-color: #fff000;
  -webkit-clip-path: polygon(20% 0, 100% 0, 100% 30%, 100% 80%, 80% 100%, 0 100%, 0% 70%, 0 20%);
          clip-path: polygon(20% 0, 100% 0, 100% 30%, 100% 80%, 80% 100%, 0 100%, 0% 70%, 0 20%);
}
.choice__item-img img {
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.choice__item-title {
  font-family: "Arial";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #0093dd;
  color: #ffffff;
  padding-bottom: 20px;
}
.choice__item-txt {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #333333;
  color: #ffffff;
  width: 190px;
  padding-bottom: 150px;
}

/* ===============================CERTIFICATE============================== */
/* ===============================CERTIFICATE============================== */
.certificate {
  margin-top: -120px;
  -webkit-clip-path: polygon(0% 0%, 100% 15%, 100% 85%, 0 100%);
          clip-path: polygon(0% 0%, 100% 15%, 100% 85%, 0 100%);
  background-color: #ffffff;
}
.certificate__inner {
  padding-top: 100px;
}
.certificate__inner-title {
  font-family: "Arial";
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #0093dd;
  position: relative;
  color: #000000;
  padding-left: 25px;
  padding-bottom: 100px;
}
.certificate__inner-title::before {
  content: url("../images/bracket.png");
  position: absolute;
  top: -25px;
  left: 0;
}
.certificate__inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
}
.certificate__inner-content img {
  margin-right: 20px;
  margin-left: 20px;
}

/* ===============================FREE============================== */
/* ===============================FREE============================== */
.free {
  background: 0px 0px/cover no-repeat url("../images/order_background.png");
  -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
          clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
}
.free__inner {
  padding-top: 150px;
  padding-bottom: 100px;
}
.free__inner-title {
  padding-bottom: 50px;
  padding-left: 25px;
}
.free__inner-title p {
  font-family: "Arial";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  color: #000000;
  padding-left: 25px;
  padding-top: 3px;
}
.free__inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.free__title {
  font-family: "Arial";
  font-size: 44px;
  font-weight: 700;
  line-height: 44px;
  color: #0093dd;
  color: #000000;
  position: relative;
}
.free__title::before {
  content: url(/images/bracket-big.png);
  position: absolute;
  left: -25px;
  top: -22px;
}
.free__content-form {
  background-color: #0093dd;
  width: 386px;
  height: 309px;
  margin-right: 26px;
}
.free__content-txt {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  color: #0093dd;
  color: #000000;
}
.free__content-txt p {
  padding-bottom: 10px;
}
.free__content-txt span {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  color: #0093dd;
}
.free__form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 34px 45px 37px 45px;
}
.free__form-container p {
  font-family: "Arial";
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #333333;
  color: #ffffff;
  max-width: 270px;
}
.free__form-title {
  font-family: "Arial";
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #0093dd;
  color: #ffffff;
  padding-bottom: 7px;
}
.free__form-subtitle {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #333333;
  color: #ffffff;
  padding-bottom: 25px;
}
.free__form-label {
  padding-bottom: 12px;
}
.free__form-input {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #333333;
  padding: 20px;
  width: 284px;
}
.free__form-btn {
  background-color: #fff000;
  width: 284px;
  height: 56px;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  color: #333333;
  -webkit-transition: ease 1s;
  -o-transition: ease 1s;
  transition: ease 1s;
  margin-bottom: 15px;
}
.free__form-btn:hover {
  background-color: #333333;
  color: #ffffff;
  border-radius: 15px;
  -webkit-transition: ease 1s;
  -o-transition: ease 1s;
  transition: ease 1s;
}

/* ===============================ABOUT============================== */
/* ===============================ABOUT============================== */
.about__inner {
  padding-top: 70px;
  padding-bottom: 130px;
}
.about__inner-title {
  font-family: "Arial";
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #0093dd;
  position: relative;
  color: #000000;
  padding-left: 25px;
  padding-bottom: 100px;
}
.about__inner-title::before {
  content: url(/images/bracket.png);
  position: absolute;
  left: 0;
  top: -21px;
}
.about__inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__content-item {
  position: relative;
  text-align: center;
  max-width: 156px;
}
.about__content-item h3 {
  font-family: "Arial";
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: #0093dd;
  color: #000000;
}
.about__content-item::after {
  content: url(/images/vertical_line-about.png);
  position: absolute;
  right: -32%;
  top: 0;
}
.about__content-subtitle {
  font-family: "Arial";
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: #0093dd;
}
.about__content-txt {
  font-family: "Arial";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #333333;
  color: #000000;
}

/* ===============================QUESTIONS============================== */
/* ===============================QUESTIONS============================== */
.questions {
  background: 0px 0px/cover no-repeat url("../images/questions_background.png");
  -webkit-clip-path: polygon(0% 0%, 100% 12.5%, 100% 87.5%, 0 100%);
          clip-path: polygon(0% 0%, 100% 12.5%, 100% 87.5%, 0 100%);
}
.questions__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(214, 214, 214, 0.55);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 200;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.questions__popup-inner {
  padding: 148px 0px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
  z-index: 500;
}
.questions__popup-close {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 30px;
  top: 30px;
  border-radius: 17px;
  -webkit-box-shadow: inset 2px -2px 12px 0px rgba(56, 56, 56, 0.36);
          box-shadow: inset 2px -2px 12px 0px rgba(56, 56, 56, 0.36);
  -webkit-box-shadow: 0px 0px 0px 10px rgba(138, 138, 138, 0.25);
          box-shadow: 0px 0px 0px 10px rgba(138, 138, 138, 0.25);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.questions__popup-close:hover {
  border-radius: 27px;
  -webkit-box-shadow: 0px 0px 0px 10px rgba(15, 10, 10, 0.25);
          box-shadow: 0px 0px 0px 10px rgba(15, 10, 10, 0.25);
  background-color: #fff000;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.questions__popup.active {
  visibility: visible;
  opacity: 1;
}
.questions__inner {
  padding: 200px 0 200px 350px;
}
.questions__inner-title {
  font-family: "Arial";
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: #0093dd;
  color: #333333;
  padding-bottom: 15px;
}
.questions__inner-txt {
  font-family: "Arial";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  padding-bottom: 15px;
}
.questions__inner-btn {
  background-color: #0093dd;
  width: 337px;
  height: 61px;
  -webkit-transition: ease 0.6s;
  -o-transition: ease 0.6s;
  transition: ease 0.6s;
}
.questions__inner-btn:hover {
  background-color: #333333;
  border-radius: 15px;
  -webkit-transition: ease 0.6s;
  -o-transition: ease 0.6s;
  transition: ease 0.6s;
}
.questions__inner-btn span {
  font-family: "Arial";
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
}

/* ===============================HOUSES============================== */
/* ===============================HOUSES============================== */
.houses__inner-title {
  font-family: "Arial";
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #0093dd;
  color: #333333;
  position: relative;
  padding: 50px 0 80px 25px;
}
.houses__inner-title::before {
  content: url(/images/bracket.png);
  position: absolute;
  left: 1px;
  top: 30px;
}
.houses__inner-content {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 50px;
}
/* ===============================HOW============================== */
/* ===============================HOW============================== */
.how {
  background: 0px 0px/cover no-repeat url("../images/how/how_background.png");
  -webkit-clip-path: polygon(0% 0%, 100% 12.5%, 100% 87.5%, 0 100%);
          clip-path: polygon(0% 0%, 100% 12.5%, 100% 87.5%, 0 100%);
}
.how__inner {
  padding-top: 150px;
}
.how__inner-title {
  font-family: "Arial";
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #0093dd;
  position: relative;
  color: #ffffff;
  padding: 0 0 100px 25px;
}
.how__inner-title::before {
  content: url(/images/bracket_yellow.png);
  position: absolute;
  left: 1px;
  top: -20px;
}
.how__inner-content {
  position: relative;
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  gap: 90px 60px;
  padding-bottom: 200px;
}
.how__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.how__content-item:nth-child(1) .how__item-title::after {
  content: url(/images/how/how_call.png);
  position: absolute;
  right: 20px;
  top: -55px;
  z-index: -20;
}
.how__content-item:nth-child(1) .how__item-txt::after {
  content: url(/images/how/how_arrow-1.png);
  position: absolute;
  top: -60px;
  right: -30px;
}
.how__content-item:nth-child(2) .how__item-title::after {
  content: url(/images/how/how_pen.png);
  position: absolute;
  right: 20px;
  top: -55px;
  z-index: -20;
}
.how__content-item:nth-child(2) .how__item-txt {
  position: absolute;
  width: 150px;
  left: 436px;
  top: 50px;
}
.how__content-item:nth-child(2) .how__item-txt::after {
  content: url(/images/how/how_arrow-1.png);
  position: absolute;
  top: -60px;
  right: -30px;
}
.how__content-item:nth-child(3) .how__item-title::after {
  content: url(/images/how/how_message.png);
  position: absolute;
  right: 20px;
  top: -55px;
  z-index: -20;
}
.how__content-item:nth-child(3) .how__item-txt::after {
  content: url(/images/how/how_arrow-3.png);
  position: absolute;
  top: 30px;
  right: -30px;
}
.how__content-item:nth-child(5) .how__item-title::after {
  content: url(/images/how/how_car.png);
  position: absolute;
  right: 20px;
  top: -55px;
  z-index: -20;
}
.how__content-item:nth-child(5) .how__item-txt::after {
  content: url(/images/how/how_arrow-5.png);
  position: absolute;
  top: -65px;
  right: 300px;
}
.how__content-item:nth-child(6) .how__item-title::after {
  content: url(/images/how/how_exit.png);
  position: absolute;
  right: 20px;
  top: -55px;
  z-index: -20;
}
.how__content-item:nth-child(6) .how__item-txt::after {
  content: url(/images/how/how_arrow-4.png);
  position: absolute;
  top: 65px;
  right: 260px;
}
.how__item-title {
  font-family: "Arial";
  font-size: 100px;
  font-weight: 400;
  line-height: 100px;
  color: #333333;
  position: relative;
  color: #fff000;
  padding-right: 20px;
}
.how__item-txt {
  font-family: "Arial";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #333333;
  position: relative;
  color: #ffffff;
  padding-bottom: 12px;
  width: 150px;
}
.how__item-btn {
  background-color: #fff000;
  width: 251px;
  height: 56px;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  color: #333333;
  -webkit-transition: ease 1s;
  -o-transition: ease 1s;
  transition: ease 1s;
  margin-bottom: 20px;
}
.how__item-btn:hover {
  background-color: #333333;
  color: #ffffff;
  border-radius: 15px;
  -webkit-transition: ease 1s;
  -o-transition: ease 1s;
  transition: ease 1s;
}

/* ===============================REVIEWS============================== */
/* ===============================REVIEWS============================== */
.reviews {
  margin-top: -115px;
  background-color: #ededed;
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
}
.reviews__inner {
  position: relative;
  padding-bottom: 100px;
}
.reviews__inner-title {
  font-family: "Arial";
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #0093dd;
  position: relative;
  color: #333333;
  padding: 180px 0 100px 25px;
}
.reviews__inner-title::before {
  content: url(/images/bracket.png);
  position: absolute;
  top: 160px;
  left: 1px;
}
.reviews__slider {
  max-width: 776px;
}
.reviews__slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__item-img {
  margin-right: 20px;
}
.reviews__content-txt {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  font-style: italic;
  padding-bottom: 20px;
}
.reviews__content-name {
  font-family: "Arial";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #0093dd;
  color: #333333;
}
.reviews__btn-prev {
  position: absolute;
  top: calc(65% - 25.5px);
}
.reviews__btn-next {
  position: absolute;
  top: calc(65% - 25.5px);
  right: 0;
}

/* ===============================FOOTER============================== */
/* ===============================FOOTER============================== */
.footer {
  background-color: #ffffff;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 137px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__inner-logo {
  margin-right: 33px;
}
.footer__inner-txt {
  margin-right: 132px;
}
.footer__inner-content {
  margin-right: 40px;
}
.footer__txt {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}
.footer__content-number {
  font-family: "Arial";
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #0093dd;
  margin-bottom: 8px;
}
.footer__content-clock {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  padding-left: 7px;
}
.footer__btn {
  background-color: #0093dd;
  width: 205px;
  height: 53px;
  -webkit-transition: ease 0.6s;
  -o-transition: ease 0.6s;
  transition: ease 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__btn:hover {
  background-color: #333333;
  border-radius: 15px;
  -webkit-transition: ease 0.6s;
  -o-transition: ease 0.6s;
  transition: ease 0.6s;
}
.footer__btn-img {
  margin-right: 8px;
}
.footer__btn-txt {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  color: #ffffff;
}