/*============================ Стили шрифтов ============================*/

@mixin style_h1 ($fz: 48px, $fw: 900, $lh: 64px) {
    font-family: "Arial";
    font-size: $fz;
    font-weight: $fw;
    line-height: $lh;
    color: #ffffff;
}

@mixin style_small-p ($fz: 14px, $fw: 400, $lh: 20px) {
    font-family: "Arial";
    font-size: $fz;
    font-weight: $fw;
    line-height: $lh;
    color: #333333;
}

@mixin style_h3 ($fz: 24px, $fw: 700, $lh: 24px) {
    font-family: "Arial";
    font-size: $fz;
    font-weight: $fw;
    line-height: $lh;
    color: #0093dd;
}

@mixin style_txt-btn ($fz: 14px, $fw: 700, $lh: 14px) {
    font-family: "Arial";
    font-size: $fz;
    font-weight: $fw;
    line-height: $lh;
    color: #ffffff;
}

@mixin style_btn ($width: 205px, $height: 53px){
    background-color: #0093dd;
    width: $width;
    height: $height;
    transition: ease .6s;
    &:hover {
        background-color: #333333;
        border-radius: 15px;
        transition: ease .6s;
    }
}

@mixin style_btn-yellow ($width: 268px, $height: 69px, $fz: 19px, $fw: 700, $lh: 19px){
    background-color: #fff000;
    width: $width;
    height: $height;
    font-family: "Arial";
    font-size: $fz;
    font-weight: $fw;
    line-height: $lh;
    color: #333333;
    transition: ease 1s;
    &:hover {
        background-color: #333333;
        color: #ffffff;
        border-radius: 15px;
        transition: ease 1s;
    }
}

